@import url('https://fonts.googleapis.com/css2?family=Syne:wght@700;800&family=DM+Sans:wght@300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* { box-sizing: border-box; }

body {
  font-family: 'DM Sans', sans-serif;
  background: #f7f4ef;
  color: #0b1628;
}
